grant Principal EjemploPrincipal "maria" {
    permission java.io.FilePermission "fichero.txt", "read, write";
};

grant Principal EjemploPrincipal "juan" {
    permission java.io.FilePermission "fichero.txt", "read";
};

grant Principal EjemploPrincipal "pedro" {
    permission java.io.FilePermission "fichero.txt", "read, write";
};
